<%= render "genre_search", genre: @genre %>

<div><%= image_tag @item.image.variant(resize_to_fill: [300, 300]).processed %></div>
<%= @item.name %>
<%= @item.introduction %>
￥<%= @item.with_tax_price %>(税込)

<%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
  <%= f.hidden_field :item_id, :value => @item.id %>
  <%= f.select :amount, *[1..10] %>
  <%= f.submit "カートに入れる" %>
<% end %>